/* Footer.module.css */
.footer {
    background-color: #f7c1c1;
    color: white;
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin-top: 4rem;
    animation: fadeIn 1s ease-in-out;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding-bottom: 2.5rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    display: flex;
    width: 200px;
}

.primaryText {
    color: #0070f3;
}

.foregroundText {
    color: #ffffff;
}

.description {
    color: #353535;
    max-width: 250px;
}

.heading {
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.list {
    list-style-type: none;
    padding: 0;
}

.link {
    color: #080707;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: #ffffff;
}

.bottomSection {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.copyRight {
    font-size: 0.875rem;
    color: #332c2c;
}

.bottomLinks {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.bottomLink {
    font-size: 0.875rem;
    color: #292323;
    text-decoration: none;
    transition: color 0.3s ease;
}

.bottomLink:hover {
    color: #ffffff;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}